.top-container {
  display: grid;
  font-family: Oxygen, sans-serif;
  text-align: center;
  color: #fff;

  .title {
    font-size: 22px;
  }
}

.weather-container {
  margin-top: 1.2em;
  .header {
    //grid styling
  }

  .inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .current-weather {
      font-size: 30px;
    }

    .image {
      width: 2.5em;
      height: 2.5em;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  .footer {
    //grid styling
  }
}
